.resetPasswordContainer{
    width: 100vw;
    height: 100vh;;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}
.resetPasswordBox {
    width: 30vmax;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    padding: 5vmax 5vmax;
   box-sizing: border-box;
}
.resetPasswordBox>form{
    width: 100%;
    margin-top: 2vmax;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.resetPasswordBox>form >input{
    padding: 1vmax 3vmax;
  padding-right: 1vmax;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  font: 300 0.9vmax cursive;
  outline: none;
  text-align: start;
  color: rgb(31, 31, 31);
  
}
.resetPasswordBox>form > div>{
    background-color: rgb(39, 95, 200);
}
.resetPasswordBox>form > div>svg{
    color: rgb(43, 129, 236);
    font-size: 3vmax;
}
.resetPasswordBox>form >button{
 margin-top: 4vmax;
}
@media screen and (max-width:600px){
    .resetPasswordBox{
        width: 90%;
    }
    .resetPasswordBox>form >input{
        font: 300 1.9vmax cursive;
    }
}